<%= form_with(model: assembly) do |form| %>
  <% if assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assembly.errors.count, "error") %> prohibited this assembly from being saved:</h2>

      <ul>
        <% assembly.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :per %>
    <%= form.text_field :per %>
  </div>

  <div class="field">
    <%= form.label :wines %>
    <%= form.collection_check_boxes(:wine_ids, Wine.all, :id, :title) do |b| %>
    <%= b.label class:"label-checkbox" do%>
    <%=b.check_box + b.text%>
    <%end%>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
